extends layout

block content
  h2 Register

  form(action="/register", method="post")
    .form-group
      label First Name
      input.form-control(name="firstName", type="text")
    .form-group
      label Last Name
      input.form-control(name="lastName", type="text")
    .form-group
      label Email
      input.form-control(name="email", type="email")
    .form-group
      label Password
      input.form-control(name="password", type="password")
    .form-group
      input.btn.btn-success(type="submit", value="Submit")
